body {
  margin: 0;
}

.chart-box {
  width: 1000px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(255, 26, 104, 1);
  background: white;
}

.hidden {
  display: none;
}

.hidden-table {
  display: none;
}
